fastapi==0.115.5
uvicorn[standard]==0.32.0
SQLAlchemy==2.0.36
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pyotp==2.9.0
pydantic[email]==1.10.12
python-multipart==0.0.12
